<div id="<%= dom_id project %>">
  <%= link_to project_path(project) do %>
    <div class="card">
      <div class="card-body d-flex justify-content-between p-4 align-items-center">
        <div class="white h6 m-0">
          <%= project.title %><span class="badge button mx-2"><%= project.kind.upcase %></span>
        </div>

        <div>
          <%= link_to edit_project_path(project), class: "btn btn-primary" do %>
            <i class="bi bi-pencil-square"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
