<% relative_path = 'app/assets/images/' %>
<% images = Dir.glob("#{relative_path}projects/*") %>
<% images.each { |image| image.slice! relative_path } %>
<% project_slug = @project.title.parameterize %>
<% project_image_path = "projects/#{project_slug}.png" %>

<% if images.include? project_image_path %>
  <figure class="attachment d-none">
    <%= image_tag project_image_path %>
    <figcaption class="attachment__caption"></figcaption>
  </figure>
<% end %>

<section class="container py-5">
  <div class="row px-5 pt-5">
    <div class="col px-0 py-3">
      <p class="purple subtitle-1">
        <%= link_to "Projetos", "/#projetos", class: "purple subtitle-1" %> /
        <span class="fw-bold"><%= @project.title %></span>
      </p>
    </div>
  </div>

  <div class="row flex-column-reverse flex-lg-row px-4 px-sm-5">
    <div id="project-content" class="col-lg-8 px-0">
      <div class="content">
        <p class="project-title white"><%= @project.title %></p>

        <%= @project.content %>
      </div>
    </div>
    <div id="navigation" class="col-lg-4 px-0 px-lg-5 mb-3">
      <div class="topics">
        <div class="title subtitle-1 white">
          Nesta página você verá:
        </div>
        <div id="spinner" class="d-flex justify-content-center px-5 py-3">
          <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <ul class="d-none links"></ul>
      </div>
    </div>
  </div>
</section>

<%= javascript_include_tag "project-page", "data-turbo-track": "reload" %>
