<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "KodeKnight" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "apexcharts.min", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('icons/favicon.ico') %>
  </head>

  <body>
    <% path = "#{controller_name}##{action_name}" %>

    <% if admin_signed_in? and (path != 'application#index' and path != 'application#projetos') %>
      <%= render "layouts/navbar" %>
      <%= render "layouts/sidebar" %>

      <main id="main" class="main">
        <section class="section dashboard">
          <div class="row">
            <% if notice %>
              <div class="alert alert-success" role="alert">
                <%= notice %>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </section>
      </main>
    <% else %>
      <%= render "layouts/visitor_navbar"%>

      <% if devise_controller? %>
        <section class="container">
          <%= yield %>
        </section>
      <% else %>
        <%= yield %>
      <% end %>

      <%= render "layouts/footer" if controller_name == 'application' %>
    <% end %>

    <%= javascript_include_tag "niceadmin", "data-turbo-track": "reload" %>
  </body>
</html>
