<!DOCTYPE html>
<html>
  <head>
    <title>TemplateBase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "apexcharts.min", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/sidebar" %>

    <main id="main" class="main">
      <section class="section dashboard">
        <div class="row">
          <%= yield %>
        </div>
      </section>
    </main>

    <%= javascript_include_tag "niceadmin", "data-turbo-track": "reload" %>
  </body>
</html>
